<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Add Buddies Here</title>-->
<!--</head>-->
<body>
    <form action="#" th:action="@{/addBuddyResults}" th:object="${addBuddy}" method="post">
        <p>Name:<input type="text" th:field="*{name}"/></p>
        <p>PhoneNo:<input type="text" th:field="*{phoneNo}"/></p>
        <p>
            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </p>
    </form>

    <!--<p th:text="'name:' + ${addBuddy.name}"></p>-->
    <!--<p th:text="'name:' + ${addBuddy.phoneNo}"></p>-->
    <!--<a href="/addBuddy">Add another Buddy</a>-->
</body>
</html>